<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="app/css/home.css">
    <link rel="stylesheet" href="lib/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="lib/font-awesome-4.5.0/css/font-awesome.css">
    <link rel="stylesheet" href="lib/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
    <script src="lib/bower_components/angular/angular.min.js"></script>
    <script src="lib/node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="lib/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="app/js/weatherDetail.js"></script>
</head>
<body ng-app="myapp" ng-controller="indexController">
    <div class="nav navbar nav-margin"
         style="background-color:#db2021 ;color: white">
            <ul class="navbar-header icon-color">
                <li class="navbar-brand fa fa-home " ng-click="open()" >{{weather.city||"北京"}}天气</li>
                <li class="glyphicon glyphicon-map-marker navbar-brand icon-size"></li>
                <li class="fa fa-refresh navbar-brand icon-size"
                    ng-class="{'fa fa-spin':$scope.refreshLoading}"
                    ng-click="checkRefresh()"></li>
            </ul>
    </div>
<!--整体内容-->
    <div class="container" style="background-image:url('/weather/app/img/biz_plugin_weather_bg.jpg');height: 100%;
    width: 100%;background-size: 100% 100%;color: white">
        <div class="col-">
            <!-- 城市名称布局-->
            <div class=" col-sm-6 col-md-6 col-xs-6" >
                <div class="col-sm-4">
                    <h3>{{weather.city||"北京"}}</h3>
                    <h4>今天发布</h4>
                    <h4>温度：{{weather.wendu}}℃"</h4>
                </div>
            </div>
            <!--pm2.5-->
            <div class="col-sm-6 col-md-6  col-xs-6" style="padding:10px  0">
                <img class="img-cold" src="/weather/app/img/cold.png">
                <span class="col-xs-8" style="padding: 10px 0">{{weather.ganmao}}</span>
            </div>
        </div>
        <!-- 当天天气布局-->
        <div class="col-sm-12  col-xs-12 " style="text-align: center">
                <div class="col-xs-4">
                    <span ng-if="today.type==='多云'" class="fa fa-cloud today-img" ></span>
                    <span ng-if="today.type==='阴'" class="fa fa-cloud today-img"></span>
                    <span ng-if="today.type==='晴'" class="good"><img src="/weather/app/img/good.png" class="img-weather"></span>
                    <span ng-if="today.type==='阵雨'" class="good" ><img src="/weather/app/img/rain.png" class="img-weather"></span>
                </div>
                <div class="col-xs-8">
                    <h3>{{today.date}}</h3>
                    <h3>{{today.low | limitTo : -4 }}- {{today.high | limitTo :-4 }}</h3>
                    <h4>{{today.type}}</h4>
                    <h4>{{today.fengli}}</h4>
                </div>

        </div>
        <!-- 未来五天布局-->
        <div class="">
            <div ng-repeat=" forecast in forecasts">
                <div class="col-xs-4 ">
                    <h3>{{forecast.date| limitTo : -3}}</h3>
                    <span ng-if="forecast.type==='多云'" class="fa fa-cloud forecast-img" style="font-size: 40px"></span>
                    <span ng-if="forecast.type==='阴'" class="fa fa-cloud forecast-img" style="font-size: 40px"></span>
                    <span ng-if="forecast.type==='晴'" class="good"><img src="/weather/app/img/good.png" class="img-weather"></span>
                    <span ng-if="forecast.type.indexOf('雨')!==-1" ><img src="/weather/app/img/rain.png" class="img-weather"></span>
                    <h5>{{forecast.low | limitTo : -4}}-{{forecast.high | limitTo : -4}}</h5>
                    <h4>{{forecast.type}}</h4>
                    <h4>{{forecast.fengli}}</h4>
                </div>
            </div>
        </div>

    </div>


    <script type="text/ng-template" id="myModalCity.html">
        <a style="padding: 10px" ng-click="cancel()">返回</a>
        <div class="modal-header">
            <h3 class="modal-title">请选择城市</h3>
        </div>
        <div class="modal-body">
            <form class="navbar-form navbar-left col-md-12" role="search">
                <label>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="city"
                               name="city"
                               placeholder="请输入城市名称">
                    </div>
                    <button type="submit" class="btn btn-default"
                            ng-click="inputCity()">搜索</button>
                </label>
            </form>
            <ul class="" >
                <li style="list-style-type: none;border-bottom: 1px solid #e2e2e2;padding: 10px" ng-repeat="cityList in cityLists">
                    <a href="#"
                       ng-click="ok(cityList);">
                        {{ cityList.d2 | limitTo:10 }}</a>
                </li>
            </ul>
             <b>{{ selected.cityList }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <!--<button type="button" class="btn btn-default" ng-click="open()">选择城市</button>-->
    <!--&lt;!&ndash;<button type="button" class="btn btn-default"&ndash;&gt;-->
            <!--&lt;!&ndash;ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>&ndash;&gt;-->

    <!--<div ng-show="selected">您选择了: {{selected.d2}}</div>-->
    </body>
</html>