<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="app/css/home.css">
    <link rel="stylesheet" href="lib/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="lib/font-awesome-4.5.0/css/font-awesome.css">
    <link rel="stylesheet" href="lib/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
    <script src="lib/bower_components/angular/angular.min.js"></script>
    <script src="lib/node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="lib/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="lib/xmlToJSON.js"></script>
    <script src="app/js/weatherDetail.js"></script>
</head>
<body ng-app="myapp" ng-controller="indexController">
    <div class="nav navbar"
         style="background-color:#398439 ">
            <ul class="navbar-header icon-color">
                <li class="fa fa-home " href="app/view/cityList.html">
                    <a class="navbar-brand">北京天气</a>
                </li>
                <li class="glyphicon glyphicon-map-marker "></li>
                <li class="fa fa-refresh "></li>
            </ul>
    </div>
<!--整体内容-->
    <div class="container">
        <div class="">
            <!-- 城市名称布局-->
            <div class=" col-sm-6" ng-repeat="weather in weathers">
                <div class="col-sm-4">{{weather.city}}
                    <span>今天发布</span>
                </div>
                <!--<div class="col-sm-4">-->
                    <!--<span>湿度：{{weather.shidu}}-->
                    <!--</span>-->
                <!--</div>-->
            </div>
            <!--pm2.5-->
            <!--<div class="col-sm-6" ng-repeat="environment in weather.environment ">-->
                <!--<span>PM2.5-->
                    <!--<li>{{environment.pm25}}</li>-->
                <!--</span>-->
                <!--<i class="fa fa-user"></i>-->
                <!--<div>{{environment.quality}}</div>-->
            <!--</div>-->
        </div>
        <!-- 当天天气布局-->
        <div class="col-sm-2 col-sm-8" ng-repeat="forecast in weather.forecast">
            <i ng-if="" class="">
                <img src="">
                <p>{{forecast.date}}</p>
                <p>{{forecast.low | limitTo : -4 }}- {{forecast.high | limitTo :-4 }}</p>
                <p>{{forecast.type}}</p>
                <p>{{forecast.fengxiang}}</p>
            </i>
        </div>

        <div class="">
            <!--forecast第二组数据-->
            <div class="col-sm-4">


            </div>

        </div>

        <!-- 未来三天布局-->

    </div>


    <script type="text/ng-template" id="myModalCity.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a href="#"
                       ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
    <!--<button type="button" class="btn btn-default"-->
            <!--ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>-->

    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
    </body>
</html>