.icon-color{
    color: white;
}
.nav-margin{
    margin-bottom: 0 !important;
}
.weather-bg{
    background-image: url("../weather/app/img/biz_plugin_weather_bg.jpg");
 }
.img-weather{
    height: 40px;
    width: 40px;
}
.img-weather-60{
    height: 13vh;
    width: 23vw;

}
.img-cold{
    float: left;
    height: 60px;
    width: 33%;
    margin-top: 20px;
}
.icon-size{
    font-size: 26px !important;
}
.today-img{
    font-size: 60px !important;
    color: white !important;
}
.forecast-img{
    font-size: 40px;
    color: white;

}